<!doctype html>
<html lang="en">
<body>
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col">
        <div class="header text-center">
            <a href="{{ url('app_home') }}">
                <img src="{{ absolute_url(asset('build/images/koza.jpg')) }}" class="logo" alt="Picture">
            </a>
        </div>
            </div>
        </div>
        <div class="content">
            <h1 class="text-center">Postovani {{ name }},</h1>
            <p class="block">

                Uspesno ste se registrovali na sajt<strong>Kozne galenterije</strong>.
                Nadamo se da cemo u buducnosti ostvaritisa vama saradnju.<br>
                Da bi ste bili u mogucnosti da porucujete potrebno je da verifikujete vasu
                email adresu klikom na link ispod ovog teksta.
                <a href="{{ url('app_user_verify_email')  }}"> {{ url('app_user_verify_email')}}</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>